!!!
%html
  %head
    %title ProfCyn
    %meta{charset: 'utf-8'}
    %meta{name: 'description', content: ''}
    %meta{name: 'keywords', content: ''}
    %link{rel: 'shortcut icon', href: '/favicon.png'}
    %link{rel: 'canonical'}
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    = yield
